<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="library/bootstrap/css/bootstrap.min.css">
    <script src="library/jquery/jquery.min.js"></script>
    <title>AmnotifyKR Login</title>
</head>

<body>
    <div class="main">
        <div>
            <button>Init</button>
            <button>On/Off</button>
            <button>Setting</button>
            <button>Raffle</button>
        </div>

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">#1</li>
            <li class="list-group-item">qlgks1</li>
            <li class="list-group-item">50</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">#1</li>
            <li class="list-group-item">qlgks1</li>
            <li class="list-group-item">50</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">#1</li>
            <li class="list-group-item">qlgks1</li>
            <li class="list-group-item">50</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">#1</li>
            <li class="list-group-item">qlgks1</li>
            <li class="list-group-item">50</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">#1</li>
            <li class="list-group-item">qlgks1</li>
            <li class="list-group-item">50</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">#1</li>
            <li class="list-group-item">qlgks1</li>
            <li class="list-group-item">50</li>
        </ul>                                        
    </div>
</body>

</html>