
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.black-background {background-color:#000000;}


body {
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: 5%;
    text-align: center;
}

.main > ul {
    text-align: center;
    justify-content: center;
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */

.footer-text {
    text-align: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

}