
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-bg-color: blue;
}

.black-background {background-color:#000000;}


body {
    font-family: 'Recipekorea' !important
}

.main {
    margin: 5%;
    text-align: center;
}

.main > ul {
    margin: 10px;
    border: 10px;
    text-align: center;
    justify-content: center;
}

.main > ul > li:nth-child(1) {
    width: 100px;
}

.main > ul > li:nth-child(2) {
    width: 400px;
}

.main > ul > li:nth-child(3) {
    width: 100px;
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */

.footer-text {
    text-align: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

}